// Color like Bulma
$primary: hsl(171, 100%, 41%) !default;
$info:    hsl(204, 86%, 53%) !default;
$success: hsl(141, 71%, 48%) !default;
$warning: hsl(48, 100%, 67%) !default;
$danger:  hsl(348, 100%, 61%) !default;
$light:   hsl(0, 0%, 96%) !default;
$dark:    hsl(0, 0%, 21%) !default;